<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SourceForge.AsyncWcfLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <SourceForge.AsyncWcfLib.Properties.Settings>
      <setting name="PeerHosts" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <!-- Here you may add hostnames that run WCF-Routers.
                 This will give you access to more WCF services.
                 Examples:
                 <string>hostname1</string>
                 <string>hostname2</string>
            -->
                 <string></string>
                 <string></string>
          </ArrayOfString>
        </value>
      </setting>
    </SourceForge.AsyncWcfLib.Properties.Settings>
  </applicationSettings>

<!-- Manual router configuration is not used.
     The settings in WcfLib.WcfDefault.cs are used.
     
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RouterServiceBehavior" name="AsyncWcfLib.RouterService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
            name="RouterServiceEndpoint" contract="AsyncWcfLib.ServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:40000/AsyncWcfLib/RouterService" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="RouterServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
-->

<!--
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
-->
</configuration>
